---
Language: Cpp
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlwaysBreakAfterReturnType: None
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Allman
ColumnLimit: 88
IncludeBlocks: Regroup
IncludeCategories: 
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
IndentWidth: 4
MaxEmptyLinesToKeep: 2
TabWidth: 4
...
