**/.vs
**/.vscode
**/.idea
**/out
**/cmake-build-debug/*
**/build
**/__pycache__
VS2017/**
VS2017/CMakeFiles/*
VS2017/Win32/
VS2017/Win64/
VS2017/**/Debug/
VS2017/**/Release/
VS2017/**/*.dir/
VS2017/**/*.vcxproj.user
